body {
    background: #FFFFFF;
    max-width: 1512px;
    margin: 0 auto;
    font-family: sans-serif;
}

.toppage-header {
    width: 1512px;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 40px;
    border-bottom: 1px solid #ccc;
    background-color: #000000;
    box-sizing: border-box;
}

.toppage-header-icon {
    width: 370px;
    height: 36px;
    display: flex;
    align-items: center;
}

.toppage-header-icon img {
    height: 100%;
    object-fit: contain;
}

.toppage-header-search {
    width: 563px;
    height: 80px;
    position: relative;
}

.search-box {
    width: 500px;
    height: 50px;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
    top: 50%;
    left: 31px;
    transform: translateY(-50%);
    margin-left: 10px;
}

.search-box input[type="text"] {
    width: 330px;
    height: 29px;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 29px;
    text-align: center;
    color: #000000;
    padding-top: 10px;
    margin: 0;
    height: 29px;
    vertical-align: middle;
    border: none;
    outline: none;
    background-color: transparent;

}

.toppage-header-nav {
    width: 463px;
    height: 80px;
    position: absolute;
    left: 1049px;
    top: 0;
    display: flex;
    align-items: center;
}

.toppage-nav-link {
    width: 135px;
    height: 47px;
    line-height: 47px;
    margin-right: 10px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    text-decoration: none;
}

.toppage-nav-button {
    width: 100px;
    height: 50px;
    line-height: 50px;
    background: #FFFFFF;
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 24px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    margin-left: 20px;
}

---------------------/*index.blade用*/----------------------
.toppage-list {
    max-width: 1512px;
    width: 100%;
    height: 47px;
    border-bottom: 2px solid #5F5F5F !important;
    display: flex;
    align-items: center;
    margin: 40px auto 0;
    padding-bottom: 10px;
}

.toppage-list a:first-child {
    width: 155px;
    height: 40px;
    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
    color: #FF0000;
    line-height: 40px;
    text-align: right;
    text-decoration: none;
    margin-left: 110px;
}

.toppage-list a:last-child {
    width: 155px;
    height: 40px;
    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
    color: #5F5F5F;
    line-height: 40px;
    text-align: right;
    text-decoration: none;
    margin-left: 30px;
}

.products-row {
    width: 100%;
    max-width: 1500px;
    height: 320px;
    margin: 50px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px 30px;
}

.bottom-row{
    display: flex;
    justify-content: flex-start;
    gap: 70px;
    max-width: 1374.52px;
    margin: 50px auto 0;
}

.product-box {
    width: 290px;
    text-align: center;
    font-size: 14px;
}

.product-image {
    width: 290px;
    height: 320px;
    border-radius: 4px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
}

.product-image img {
    width: 100% !important;
    height: 100% !important;
    object-fit: contain !important;
    transition: transform 0.3s ease;
}

.product-image:hover img {
    transform: scale(1.15);
}

.product-name {
    margin-top: 8px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 100%;
    color: #000;
    text-align: left;
    padding-left: 5px;
    transition: color 0.3s ease;
    cursor: pointer;
}

.product-name:hover {
    color: #FF5555;
}

---------------/* show.blade 専用 */--------------

main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.product-detail{
    display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 40px;
        gap: 80px;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        box-sizing: border-box;
}

.product-image-area{
    width: 600px;
        height: 600px;
        border-radius: 4px;
        overflow: hidden;
}

.product-image img{
    width: 600px;
    height:600px;
    object-fit: cover;
}

.product-description-area {
    width: 600px;
}

.product-title {
    width: 570px;
    margin-bottom: 20px;
}

.product-title h1 {
    font-size: 45px;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 10px;
}

.product-title .brand-name {
    font-size: 20px;
    font-weight: 400;
    color: #000;
    margin-bottom: 10px;
}

.product-title .price {
    font-size: 30px;
    font-weight: 400;
    color: #000;
    margin-bottom: 20px;
}

.product-actions {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 20px;
}

.product-actions img {
    width: 20px;
    height: 20px;
}

.purchase-area {
    width: 570px;
    height: 56px;
    margin-top: 22px;
    border-radius: 4px;
}

.purchase-button {
    width: 100%;
    height: 100%;
    background-color: #FF5555;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 700;
    border: none;
    border-radius: 4px;
    text-align: center;
    line-height: 100%;
    cursor: pointer;
}

.product-description{
    width: 570px;
    height: 321px;
}

.product-description h2{
    width: 559px;
    margin-bottom: 40px;
}

.product-description h2 {
    font-size: 36px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 16px;
}

.product-description p {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.6;
    color: #000000;
}


---------------/* register.blade login.blade 専用 */--------------

.auth-content {
    width: 680px;
    height: 678px;
    margin: 0 auto;
    padding: 60px 20px 0;
    box-sizing: border-box;
    text-align: center;
}

.auth-content form{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    align-items: center;
}

.auth-content h1 {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}

.auth-content label {
    display: block;
    width: 680px;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
}

.auth-content input[type="text"],
.auth-content input[type="email"],
.auth-content input[type="password"] {
    width: 680px;
    height: 59px;
    border-radius: 4px;
    border: 1px solid #5F5F5F;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 40px;
}

.register-btn {
    width: 680px;
    height: 65px;
    background-color: #FF5555;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    margin-top: 70px;
}

.login-link {
    display: block;
    text-align: center;
    font-size: 20px;
    color: #0073CC;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
}

--------------------/*purchase.blade専用*/------------------

main {
    width: 100%;
    display: block;
}

.purchase-wrapper {
    display: flex !important;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;
    box-sizing: border-box;
}

.purchase-left {
    width: 65%;
    padding-right: 30px;
    box-sizing: border-box;
}

.purchase-left hr {
    width: 90%;
    max-width: 100%;
    margin: 30px 0;
    border: 1px solid #000;
    box-sizing: border-box;
}

.product-summary {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    gap: 20px;
}

.product-image {
    width: 177px;
    height: 177px;
    background-color: #ddd;
    margin-right: 20px;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 177px;
}

.product-info h2 {
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 10px 0;
}

.product-info p {
    font-size: 18px;
}

.payment-method,
.shipping-address {
    margin: 0 0 10px 0;
}

.payment-method h3,
.shipping-address h3 {
    font-size: 18px;
    margin: 0 0 30px 0;
}

select {
    width: 300px;
    padding: 8px;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 60px;
}

.shipping-address a {
    display: inline-block;
    margin-top: 10px;
    color: #0073CC;
    font-size: 14px;
    text-decoration: underline;
}

.address-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    max-width: 600px;
}

.address-header h3 {
    font-size: 20px;
    margin: 0;
}

.address-header a {
    font-size: 20px;
    color: #0073CC;
    text-decoration: underline;
    margin-left: 30px;
}

.purchase-right {
    width: 30%;
    box-sizing: border-box;
}

.order-summary {
    border: 1px solid #000;
    margin-bottom: 20px;
    width: 440px;
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.order-summary table {
    width: 100%;
    height: 100%;
    font-size: 20px;
    border-collapse: collapse;
    table-layout: fixed;
}

.order-summary td {
    border-bottom: 1px solid #000;
    text-align: center;
    vertical-align: middle;
    height: 50%;
    padding: 0;
}

.order-summary tr:last-child td {
    border-bottom: none;
}

.summary-label {
    font-size: 20px;
    font-weight: normal;
}

.summary-value {
    font-size: 24px;
    font-weight: bold;
}



.purchase-btn {
    width: 440px;
    height: 50px;
    background-color: #FF5555;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 50px;
}
